.hide-recipe-card{
  display:none;
}

.fa{
  font-size:24px;
  margin-right:10px;
}

.fa-star{
  color:#f2c41d;
}

.instruction-list{
  counter-reset:steps;
}

.instruction-list li::before{
  counter-increment:steps;
  content:counter(steps) ":";
}

.recipe-title{
  font-size:1.3rem;
}
